#contenedor_carga {
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 15px solid #ccc;
    border-top-color: #B0535E;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

nav.navbar.navbar-expand.navbar-light.bg-white.topbar.mb-4.static-top.shadow {
    background-color: #B0535E !important;
  }
  
.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: #B0535E;
}
.titulo:hover {
    color: #B0535E;
}