.tipoletra{
    font-family: 'Montserrat', sans-serif !important;
}
.container{
    font-family: 'Montserrat', sans-serif !important;
}
.card {
    font-family: 'Montserrat', sans-serif !important;
}
.modal-content{
    font-family: 'Montserrat', sans-serif !important;
}
.dropdown-list.dropdown-menu.dropdown-menu-right.shadow.animated--grow-in.show{
    font-family: 'Montserrat', sans-serif !important;
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

#contenedor_carga {
    background-color: rgba(250, 240, 245, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 15px solid #ccc;
    border-top-color: #B0535E;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    color: #B0535E;
}

.titulo:hover {
    color: #B0535E;
}

.imagen {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}*/

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col,
.gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3,
.my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


/*Login*/

.body_register {
    /* max-width: 1000px;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh; */
    background: linear-gradient(45deg, blue, pink, yellow, white);
    background-size: 400% 400%;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .body_register {
        background: linear-gradient(45deg, rgb(255, 177, 114), pink, rgb(255, 177, 114));
    }
}


.linea {
    border-top: 5px solid #B0535E;
}

.contenedor-imagenes {
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75);
}

.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 253, 249, 0.781);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}

.imagen:hover .overlay {
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .contenedor-imagenes {
        width: 95%;
    }
}

@media screen and (max-width:700px) {
    .contenedor-imagenes {
        width: 90%;
    }
    .contenedor-imagenes .imagen {
        width: 48%;
    }
}

@media screen and (max-width:450px) {
    h1 {
        font-size: 22px;
    }
    .contenedor-imagenes {
        width: 98%;
    }
    .contenedor-imagenes .imagen {
        width: 80%;
    }
}

textarea {
    resize: none;
}

textarea.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.error {
    width: 100%;
    border-color: #e74a3b;
    padding-right: calc(1.5em + 0.75rem);
}